<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<style>
    .navbar {
        z-index: 1;
    }
    .image-overlay {
        position: absolute; /* Absolute position within the navbar container */
        top: 120%; /* Vertically center the image */
        left: 50%; /* Horizontally center the image */
        transform: translate(-50%, -50%); /* Center the image precisely */
        z-index: 2; /* Place it above the navbar */
    }

</style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/results">Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
        <img class="image-overlay" src="{{ url_for('static', filename='Miru_Logo.png') }}" alt="Miru" width="130" height="130">
      </nav>

<body>

<div class="px-5 mx-5">
    <h1>Web Servers:</h1>
    <style>
        table {
            border-spacing: 0px;
            table-layout:auto;
            margin-left:auto;
            margin-right:auto;
        }
    </style>

    <form method="POST" action="/delete">
        <table class="table table-striped table-bordered" style="table-layout: fixed;">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
    
            <tbody>
                {% for row in tableData %}
                    <tr>
                        <td><input type="checkbox" value="{{ row.id }}" name="row_checkboxes" /></td>
                        <td>{{ row['Name'] }}</td>
                        <td>{{ row['Link'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <button name="custom" class="btn btn-primary" type="submit" value="custom">Delete</button>
    </form>
    
</div>

<div class="buttons">
    <div class="row justify-content-center">  
        <div class="col-2">
            <form method="get" action="/custom">
                <button name="custom" class="btn btn-primary" type="submit" value="custom" onclick="">Custom</button>
            </form>
        </div>
        <div class="col-2">
            <form method="get" action="/presets">
                <button name="preset" class="btn btn-primary" type="submit" value="preset" onclick="">Presets</button>
            </form>
        </div>
        <div class="col-2">
            <form method="post" action="/run">
                <button name="preset" class="btn btn-danger" type="submit" value="preset" onclick="">Run</button>
            </form>
        </div>
    </div>
</div>

<div class="px-5 mx-5">
    {% block content %} {% endblock %}
</div>

</body>